/vendor/
.env
.idea
/composer.lock
/src/resources/assets/_gulp-builder/yarn-error.log
/src/resources/assets/_gulp-builder/yarn.lock
/src/resources/assets/_gulp-builder/bower_components/
/src/resources/assets/_gulp-builder/node_modules/
/src/resources/assets/_gulp-builder/.sass-cache/

/resources/assets/_gulp-builder/yarn-error.log
/resources/assets/_gulp-builder/yarn.lock
/resources/assets/_gulp-builder/bower_components/
/resources/assets/_gulp-builder/node_modules/
/resources/assets/_gulp-builder/.sass-cache/

/report/
bash.exe.stackdump

/resources/assets/_gulp-builder/yarn-error.log
/resources/assets/_gulp-builder/yarn.lock
/resources/assets/_gulp-builder/bower_components/
/resources/assets/_gulp-builder/node_modules/
/resources/assets/_gulp-builder/.sass-cache/